If:
    PathMatch: [
        fixed_buddy_allocator\.h,
    ]

CompileFlags:
    Add: [
        -g,
        -Wall,
        -Wextra,
        -Wpedantic,
        -DFBA_IMPLEMENTATION,
        -DFBA_DEBUG,
        -xc
    ]
    Compiler: clang

Diagnostics:
    Includes:
        AnalyzeAngledIncludes: true


---

If:
    PathMatch: [
        free_list_allocator\.h,
    ]

CompileFlags:
    Add: [
        -g,
        -Wall,
        -Wextra,
        -Wpedantic,
        -DFLA_IMPLEMENTATION,
        -DFLA_DEBUG,
        -xc,
        -std=c11
    ]
    Compiler: gcc 

Diagnostics:
    Includes:
        AnalyzeAngledIncludes: true

